:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  tap-hightlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family:'Times New Roman', Times, serif;
  margin: 0;
}
#app{
  margin: 0;
  height: 100svh;
  overflow: hidden;
  color:white;
  background:black;
}

.gradient-loop{
  background: linear-gradient(90deg, gold  0%, brown 50%, gold 100%);
  background-size: 200% 200%;
  animation: gradient 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: min(0.8rem,2vw);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

a{
  color: white;
}
a:hover{
  color: gold;
}
a:active{
  color: goldenrod;
}